<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184554726669-6idjm7uk6q48q2cj02u7kov212pcrof5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184554726669-6idjm7uk6q48q2cj02u7kov212pcrof5</string>
	<key>API_KEY</key>
	<string>AIzaSyAyfreVzc8S1LzDD2RKY8H-funRMdYoWjI</string>
	<key>GCM_SENDER_ID</key>
	<string>184554726669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codegarage.satabletennisapp</string>
	<key>PROJECT_ID</key>
	<string>satabletennisapp</string>
	<key>STORAGE_BUCKET</key>
	<string>satabletennisapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184554726669:ios:43ee08e930ecdd95973c44</string>
</dict>
</plist>