.parent {
    /* border: 1px solid black; */
    margin: 1rem;
    padding: rem;
    text-align: left;
  }
  .child {
    display: inline-block;
    /*border: 1px solid red;*/
    padding: 0.5rem;
    vertical-align: top;
  }